.form{
    width: 700px;
    background:
    linear-gradient(135deg, #001510 21px, #00bf8f 22px, #00bf8f 24px, transparent 24px, transparent 67px, #00bf8f 67px, #00bf8f 69px, transparent 69px),
    linear-gradient(225deg, #001510 21px, #00bf8f 22px, #00bf8f 24px, transparent 24px, transparent 67px, #00bf8f 67px, #00bf8f 69px, transparent 69px)0 64px;
    background-color:#001510;
    background-size: 64px 128px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

p {
    color: wheat;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

p > .magic-text {
    animation: background-pan 3s linear infinite;
    background:  linear-gradient(
        to right,
        Blue, 
        rgb(60, 146, 231),
        rgb(97, 247, 245), 
        blue
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
